<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-barç"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Recipe Book</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink='/recipes'>Recipes</a></li>
              <li routerLinkActive="active"><a routerLink='/shopping-list'>Shopping List</a></li>
            </ul>
          
            <ul class="nav navbar-nav navbar-right">
              <ng-template [ngIf]="!authService.isAuthenticated()">
                  <li routerLinkActive="active"><a routerLink='/signup'>Register</a></li>
                  <li routerLinkActive="active"><a routerLink='/signin'>Login</a></li>
              </ng-template>
              <ng-template [ngIf]="authService.isAuthenticated()">
                  <li><a (click)="onLogout()">Logout</a></li>
                  <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a (click)="onSaveData()">Save Data</a></li>
                      <li><a (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                  </li>
              </ng-template>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      