.btn{
    margin-right: 0.5em;
    margin-bottom: 1.5em;
}
.ingredientRow div{
    padding-right: 0px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border-color: red;
}
textarea{
    display: block;
}
.previewImage{
    width: 3em;
    height: 3em;
}