<a [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">
  <div class="col-xs-8 pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="col-xs-4 pull-right">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive">
  </span>
</a>