<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipeSelected.imagePath }}" alt="{{ recipeSelected.name }}" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipeSelected.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="addIngredientsToShoppingList()">To Shopping List</a></li>
          <li><a (click)="addEditShoppingList()">Edit Recipe</a></li>
          <li><a (click)="deleteShoppingList()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipeSelected.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeSelected.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
  </div>
  